<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.demo.persistence.BusinessDao">

    <resultMap id="itemResultMap" type="org.csu.demo.domain.Item">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="product_id" property="product_id"/>
        <result column="url" property="url"/>
        <result column="price" property="price"/>
        <result column="description" property="description"/>
        <result column="businessId" property="businessId" />
        <result column="RemaingNumb" property="remainingNumb"/>
    </resultMap>

    <!-- 查询所有商品库存信息 -->
    <select id="getAllBusinessItems" resultMap="itemResultMap">
        SELECT i.*, b.businessId ,b.RemaingNumb
        FROM item i JOIN businessItemRemaining b ON i.id = b.itemId;
    </select>


    <!-- 根据 itemId 查询库存信息 -->
    <select id="getBusinessItemById" parameterType="int" resultMap="itemResultMap">
        SELECT i.*, b.businessId, b.RemaingNumb
        FROM item i
        JOIN businessItemRemaining b ON i.id = b.itemId
        WHERE i.id = #{itemId};
    </select>

    <!-- 插入新的商品库存信息 -->
    <insert id="insertBusinessItem" parameterType="org.csu.demo.domain.Item">
        INSERT INTO businessItemRemaining (itemId, businessId, RemaingNumb)
        VALUES (#{itemId}, #{businessId}, #{remainingNumb});
    </insert>

    <!-- 更新商品库存 -->
    <update id="updateBusinessItem" parameterType="org.csu.demo.domain.Item">
        UPDATE businessItemRemaining
        SET RemaingNumb = #{remainingNumb}
        WHERE itemId = #{itemId} AND businessId = #{businessId};
    </update>

    <!-- 删除库存记录 -->
    <delete id="deleteBusinessItem" parameterType="int">
        DELETE FROM businessItemRemaining WHERE itemId = #{itemId};
    </delete>

    <!-- 查询库存数量 -->
    <select id="queryBusinessItemCount" parameterType="int" resultType="int">
        SELECT RemaingNumb FROM businessItemRemaining WHERE itemId = #{itemId};
    </select>

    <!-- 通过商品id查商家id -->
    <select id="getSupplierByItemId" parameterType="int" resultType="int">
        SELECT businessId FROM businessItemRemaining WHERE itemId = #{itemId};
    </select>
</mapper>