<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.demo.persistence.ItemDao">

    <!-- 根据 productId 获取 Item 列表 -->
    <select id="getItemListByProduct" parameterType="int" resultType="org.csu.demo.domain.Item">
        SELECT * FROM item WHERE product_id = #{product_Id}
    </select>

    <!-- 根据 itemId 获取单个 Item -->
    <select id="getItem" parameterType="int" resultType="org.csu.demo.domain.Item">
        SELECT * FROM item WHERE id = #{itemId}
    </select>
</mapper>