<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
<script type="text/javascript">
    // 页面加载时立即执行未登录提示
    if (confirm("您尚未登录，是否前往登录界面？")) {
        // 用户点击确认，跳转到登录页面
        window.location.href = "${pageContext.request.contextPath}/loginForm";
    } else {
        window.location.href = "${pageContext.request.contextPath}/ShoppingCart";
    }
</script>
-->

<head>
    <title>购物界面</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/ShoppingCart.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<!-- topBar -->
<div style="background-color: rgba(255, 234, 175, 0.8) ">
    <div class="header">
        <!-- topBar -->
        <div class="site-topBar">
            <div>
                <label>
                    当前在线人数: <span id="onlineCount">1</span>
                </label>
                <div class="topBar-cart">
                    <a class="link">
                        <i class="fa-solid fa-cart-shopping"></i>
                        购物车
                    </a>
                    <!-- 如果登录且购物车存在 -->
                    <div th:if="${session.loginUser != null and session.cart != null}">
                        <!-- 购物车 -->
                        <span id="topBarItemCount" class="cart-mini-num J_cartNum"
                              th:text="'(' + ${session.cart.totalCount} + ')'"></span>
                        <div id="J_miniCartMenu" class="cart-menu" style="height: 0;">
                            <div class="menu-content">
                                <!-- 如果购物车中有商品 -->
                                <div th:if="${session.cart.totalCount > 0}">
                                    <ul id="J_miniCartList" class="cart-list"
                                        th:each="cartItem : ${session.cart.itemList}">
                                        <li th:attr="data-item-id=${cartItem.itemID}">
                                            <div class="cart-item clearfix first">
                                                <a class="thumb" href="//www.mi.com/shop/buy?product_id=1230801081">
                                                    <img alt="" th:src="${cartItem.url}">
                                                </a>
                                                <span id="ItemName" class="name"
                                                      th:text="${cartItem.name}"></span>
                                                <span class="price Item-price"
                                                      th:text="${cartItem.price}"></span>
                                                <div class="count-control">
                                                    <button class="count_d">-</button>
                                                    <span class="price Item-count"
                                                          th:text="${cartItem.itemNum}"></span>
                                                    <button class="count_i">+</button>
                                                </div>
                                                <a class="btn-del J_delItem">
                                                    <em class="iconfont-close"></em>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- 否则显示购物车为空 -->
                                <div th:unless="${session.cart.totalCount > 0}">
                                    <div class="msg msg-empty">购物车中还没有商品，赶紧选购吧！</div>
                                </div>
                                <div id="J_miniCartListTotal" class="cart-total clearfix">
                                    <span class="total">
                                        共 <em id="CartListTotalCount" th:text="${session.cart.totalCount}"></em> 件商品
                                        <span class="price">
                                            <em id="CartListTotalPrice" th:text="${session.cart.totalPrice}"></em>元
                                        </span>
                                    </span>
                                    <a th:href="@{${#httpServletRequest.contextPath}/CartCount}"
                                       class="btn btn-primary btn-cart">结算</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 否则显示0 -->
                    <div th:unless="${session.loginUser != null and session.cart != null}">
                        <span class="cart-mini-num">（0）</span>
                    </div>
                </div>

                <div class="topBar-info">
                    <!-- 登录状态判断 -->
                    <div th:if="${session.loginUser != null}">
                        <!-- 编辑个人信息 -->
                        <a href="javascript:void(0)" class="link" onclick="openModal()"
                           th:text="'欢迎回来！' + ${session.loginUser.username}"></a>
                        <a th:href="@{${#httpServletRequest.contextPath}/mainForm(action='logout')}" class="link"
                           style="margin-left: 20px;">退出登录</a>
                        <div id="modal" class="modal register-container">
                            <div style="opacity: 1">
                                <h2>编辑个人信息</h2>
                                <form th:action="@{${#httpServletRequest.contextPath}/mainForm}" method="post"
                                      autocomplete="off">
                                    <span>
                                        <label>用户名：
                                            <input type="text" placeholder="用户名" name="username" id="username"
                                                   th:value="${session.loginUser.username}" required>
                                        </label>
                                    </span>
                                    <br>
                                    <div id="feedback"></div>
                                    <span>
                                        <label>邮箱：
                                            <input type="email" placeholder="邮箱" name="email"
                                                   th:value="${session.loginUser.email}" required>
                                        </label>
                                    </span>
                                    <br>
                                    <span>
                                        <label>年龄：
                                            <input type="number" placeholder="年龄" name="age"
                                                   th:value="${session.loginUser.age}" required min="1">
                                        </label>
                                    </span>
                                    <br>
                                    <span>
                                        <label>旧密码：
                                            <input type="password" placeholder="旧密码" name="OldPassword" autocomplete="off"
                                                   required>
                                        </label>
                                    </span>
                                    <br>
                                    <span>
                                        <label>新密码：
                                            <input type="password" placeholder="新密码" name="NewPassword" autocomplete="off"
                                                   required>
                                        </label>
                                    </span>
                                    <br>
                                    <input type="submit" value="更改个人信息">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div th:unless="${session.loginUser != null}">
                        <a th:href="@{/loginForm}" class="link">登录</a>
                        <span class="sep">|</span>
                        <a th:href="@{/registerForm}" data-register="true" class="link">注册</a>
                        <span class="sep">|</span>
                        <span class="message">
                            <a href="#" class="J_needAgreement">消息通知</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 中间部分 -->
        <div class="site-header" style="opacity: 0.8; background-color: white">
            <div class="container">
                <!-- Logo -->
                <div class="header-logo">
                    <a href="https://www.bilibili.com/bangumi/play/ep453031" title="奶龙动画" class="logo ir"
                       style="background: url(/images/Logo.png) no-repeat; background-size: 56px; margin-top: 22px;">
                    </a>
                </div>
                <!-- 搜索按钮 -->
                <div class="header-search">
                    <form class="search-form clearfix">
                        <label class="hide">站内搜索</label>
                        <label for="search"></label>
                        <input type="search" id="search" name="keyword" autocomplete="off"
                               class="search-text" placeholder="奶龙" oninput="searchItem()">
                        <a class="no-style-msq">
                            <button class="search-btn" id="searchButton">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </a>
                        <div class="search-hot-words"></div>
                        <div id="J_keywordList" class="keyword-list">
                            <ul class="result-list">
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="floatingWindow" class="floating">
        <div class="content" th:text="${item.name}"></div>
    </div>

    <div style="background-color: rgba(255, 234, 175, 0.8) ">
        <div class="product-box container">
            <div class="img-left">
                <img th:src="${item.url}" alt="商品图片" class="img-box">
            </div>
            <div class="product-con">
                <div style="flex: 5;">
                    <h2 th:text="${item.name}"></h2>
                    <div class="price-info">
                        <span th:text="${item.price}"></span>
                    </div>
                    <br/>

                    <div class="product-desc" th:text="${item.description}"></div>
                    <div class="price-line"></div>
                </div>
                <div class="price-btn-box">
                    <div class="sale-btn">
                        <a th:if="${session.loginUser != null}" th:href="@{/orderForm}"
                           class="price-btn price-btn-primary">
                            购买
                        </a>
                        <a th:unless="${session.loginUser != null}" href="javascript:void(0)"
                           class="price-btn price-btn-primary">
                            购买
                        </a>
                    </div>

                    <div class="favorite-btn">
                        <a th:if="${session.loginUser != null}" href="javascript:void(0)"
                           class="btn-like btn-gray" th:attr="data-item=${item.id}" onclick="addToCart(this)">
                            加入购物车
                        </a>
                        <a th:unless="${session.loginUser != null}" href="javascript:void(0)"
                           class="btn-like btn-gray">
                            购买
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mouse-follow-icon" id="mouse-follow-icon"
     style="display: inline-flex; align-items: center; justify-content: center;">
    <img src="../images/cursor.gif" alt="跟随鼠标的GIF"/>
</div>

</body>

<script src="https://kit.fontawesome.com/8c320534de.js" crossorigin="anonymous"></script>
<script src="/js/cursorFollow.js"></script>
<script src="/js/topBar.js"></script>
<script src="/js/Search.js"></script>
<script src="/js/cart.js"></script>
<script>
    window.onscroll = function () {
        var floatingWindow = document.getElementById("floatingWindow");
        var windowScrollY = window.scrollY;
        // 获取元素的初始位置
        var initialOffset = floatingWindow.offsetTop; // 初始相对于页面顶部的距离

        // 判断是否需要固定
        if (windowScrollY > initialOffset) {
            floatingWindow.classList.add("fixed");
        } else {
            floatingWindow.classList.remove("fixed");
        }
    };
</script>
<script src="https://kit.fontawesome.com/c3413aee04.js" crossorigin="anonymous"></script>
</html>
